<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a ui-sref="app">Home</a></li>
                <li class="active">Fundraising</li>
            </ul>
        </div>
    </div>
    <h1>Easy ways to earn money for your school</h1>
    <div class="row row-header">
        <h2></h2>
    </div>
    <div class="row row-content-small">
        <div class="media">
            <div class="row row-content-small">
                <div class="media-left media-middle">
                    <a href="www.boxtops4education.com"> <img
                        class="media-object" src="../images/boxtop.jpeg">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="www.boxtops4education.com">Box Tops
                            for Education</a>
                    </h4>
                    Clip tops and earn cash for St. Matthew School! Find
                    Box Tops coupons on hundreds of your favorite
                    products. Each Box Top coupon is worth 10¢ for our
                    school. Clip and send the Box Tops to school. Our
                    school will collect the Box Tops and send them to
                    Box Tops for Education.<br>Twice each year, Box
                    Tops will send a check to our school for each Box
                    Tops coupon redeemed, up to $20,000 each year. We
                    will have a contest each semester to see which class
                    can collect the most Box Tops, and the winning class
                    will get a pizza party!
                </div>
            </div>
            <div class="row row-content-small">
            <div class="media-left media-middle">
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjR18eDk6HNAhVNa1IKHZMeCOoQFggeMAA&url=http%3A%2F%2Fwww.mycountymarket.com%2Fsave%2Fmax-card%2F&usg=AFQjCNHpKb6nkTVeHHxJRwUSnUIIxzYmzw"> <img
                    class="media-object" src="../images/maxvalue.jpeg">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjR18eDk6HNAhVNa1IKHZMeCOoQFggeMAA&url=http%3A%2F%2Fwww.mycountymarket.com%2Fsave%2Fmax-card%2F&usg=AFQjCNHpKb6nkTVeHHxJRwUSnUIIxzYmzw">Max Dollars
                        For Education</a>
                </h4>
                You can help our school earn Max Dollars by using your
                Max Card each time you shop at County Market or Cub
                Foods from August 24 — mid-October. This program does
                not cost anything, and will not take away from your
                personal Max Rewards you are already earning.
                Registration forms are available at your local County
                Market and only take a minute to complete (Note: You
                must re-register your Max Card each year). Then use your
                Max Card every time you shop. It's that easy. We will be
                registering cards at Fee Day!
            </div>
            </div>
            
            <div class="row row-content-small">
            
                <div class="media-left media-middle">
                    <a href="https://www.shopwithscrip.com/"> <img
                        class="media-object" src="../images/scrip.jpeg">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="https://www.shopwithscrip.com/">Scrip</a>
                    </h4>
                    When you purchase
                scrip, you are purchasing negotiable gift certificates
                that are used just like cash. The national and local
                retailers issue the scrip where many of you already
                shop. You can use scrip to purchase everyday expenses
                like clothing, gas, and other essentials. They also make
                great Christmas and birthday gifts. Orders will be made
                once a month (check the school calendar for dates). With
                every purchase you make, we earn revenue for our school.
                </div>
                </div>
            <div class="row row-content-small">
            
                <div class="media-left media-middle">
                    <a href="http://www.escrip.com/merchants/identity/schnucks/index.jsp"> <img
                        class="media-object" src="../images/schnucks.jpeg">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="http://www.escrip.com/merchants/identity/schnucks/index.jsp">Schnucks eScrip</a>
                    </h4>
            <div class="row row-content-small">Customers in Savoy,
                Champaign and Urbana who are presently using a Schnucks
                Customer Card for Fuel Rewards may register that card to
                earn eScrip contributions by calling (800) 931-6258 or
                registering online. The Schnucks eScrip Customer Card
                may be used to generate both eScrip contributions and
                Fuel Rewards, where available. The more you shop the
                more we can earn! Online enrollment and more information</div>
            </div>
            <div class="row row-header">
                <h3>Tell your friends and family about the programs
                    above and help us earn even more money for St.
                    Matthew Catholic School!</h3>
            </div>
        </div>