<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a ui-sref="app">Home</a></li>
            </ul>
        </div>
    </div>
    <div class="row row-content">
    <h1>Who We Are</h1>
Over 40 parents at St. Matthew School serve as officers and committee chairs for the PTSA.<br>
A big thank you to these PTSA board members and to all parents who volunteer their time and talents to St. Matthew School!<br>
Click here to see the job descriptions

<h1>What We Do</h1>
The PTSA supports the school through communications (email listserve), programming (Peaceable Schools, enrichment programs), and fundraising.<br>
New initiatives include a monthly Parents' Club adoration hour and service project to promote family volunteerism.
<br>Did you know that in just the past few years, the PTSA has funded over $125,000 of items for the school, faculty, and new facilities?<br>
St. Matthew families can help by purchasing gift certificates through Scrip, signing up for store rebate programs, and clipping Box Tops. 10 easy ways you can raise money for your school

<h1>Meetings</h1>
PTSA meets during the school year, once a month, on Wednesday nights at 6:30pm in the St Mark room in the Parish Center.<br>
Join us and find out how you can get involved in our mission.<br>
Childcare will be offered in the church nursery.<br>
To add an item to our meeting agenda please contact the president in advance of the meeting or attend the meeting and present your agenda item.<br>

The PTSA invites you to attend Mass with other St Matthew School families.<br>Mass will be held in Feeney Hall one Thursday each month at 7am.
    </div>
</div>
